{% extends "layout.html" %}

{% block content %}

  <div class="page-header">
    <h1>Welcome to Twitter.js!</h1>
<!--     <form id="search-bar">
      <label for="name_field">Filter tweets by keyword:</label>
      <input name="keyword" type="text" id="keyword_field" value=""/>
      <button id="filterbtn" type="button">Filter tweets</button>
    </form> -->
    <form id="search-bar" action="/tweets" method="GET">
      <label for="name_field">Filter tweets by tag:</label>
      <input name="tag" type="text" value=""/>
      <input type="submit" value="Submit"/>
    </form>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="https://randomuser.me/api/portraits/thumb/men/34.jpg"><br>
      <b>Sean Stack</b><br>
      100 followers
      {% if showForm %}
        <form action="/tweets" method="POST">
          <label for="name_field">Name:</label>
          <input name="name" type="text" id="name_field" value="{{ username }}"/>

          <label for="text_field">Text:</label>
          <input name="text" type="text" id="text_field" />

          <input type="submit" value="Submit" />
        </form>
      {% endif %}
      {% if showEditForm %}
        <form>
          <label for="name_field">Name:</label> {{tweetToEdit.name}}

          <label for="text_field">Text:</label>
          <input name="text" type="text" id="edit_text_field" value="{{ tweetToEdit.text }}"/>

          <button id="submitEditBtn" type="button" data-tweet-id="{{ tweetToEdit.id }}">Submit edit</button>
        </form>
      {% endif %}
    </div>
    <div class="col-md-9">

      <!-- display tweets here -->
      <div id="tweets">
      {% for tweet in tweets %}
        <div class="tweetbox" id="tweet{{tweet.id}}">
          <img src={{tweet.profilePicUrl}}>
          <div class="content">
            <p class="by"><a href="/users/{{tweet.name}}">{{tweet.name}}</a></p>
            <p><a href="/tweets/{{tweet.id}}">{{tweet.text}}</a></p>
          </div>
          <span>
            <a href="/tweets/{{tweet.id}}/edit"><button type="button">Edit</button></a>
            <button type="button" data-tweet-id={{tweet.id}} class="deletebtn">Delete</button>
          </span>
        </div>
      {% endfor %}
      </div>

    </div>
  </div>

{% endblock %}
